@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding: 30px;
    color: #3A3A3A;
}
.semibold{
    font-weight:600 ;
}
.btn{
    width: fit-content;
}
nav,.navbar ul,.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size:1.25rem;
    font-weight: bold;
    padding: 30px;
}
.navbar ul{
    list-style: none;
    gap: 20px;
    padding: 30px;
}
.hero-section{
    gap: 50px;
    padding: 30px;
}
.hero-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 100px;
    
}